* text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.avif binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.pyc binary
*.xlsx binary
*.xls binary
*.docx binary
*.pptx binary
